*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  
}

#clock {
  position: relative;
  text-align: center;
  top: 50%;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 5rem;
  margin-top: -5rem;
  color: white;
}
