* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;

}

.wrapper {
  width: 40%;
  height: 30%;
  display: table;
  margin-top: 40%;
  margin-left: 30%;
}

#clock {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 2rem;
  width: 40%;
  border: 5px solid brown;
  border-radius: 9999%;
  background-color: yellow;
}

@media(min-width: 768px) {
  .wrapper {
    width: 30%;
    height: 60%;
    margin-top: 10%;
    margin-left: 35%;
  }

  #clock {
    font-size: 4rem;
  }
}
